#container {
	display: flex;
	position: inherit;
}
#menu {
	vertical-align: top;
	display: inline-block;
	width: 250px;
	height:555px;
	margin-top: 50px;
	border: 2px solid white;

}
#browser {
	border: 2px solid white;
	vertical-align: top;
	display: inline-block;
	width: 986px;
	height: 555px;
	margin-top: 50px;
	margin-left: 10px;
}
i {
  border: solid lightblue;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.floating-box {
    display: inline-block;
    width: 150px;
    height: 0px;
    margin-left: 4px;
    margin-right: 40px;
    border: 2px solid white;
    border-radius: 25px;
}
a:link, a:visited {
    color: lightblue;
    text-decoration: none;
    margin-left: 20px;
}
a:hover, a:active {
    color: white;
    text-decoration: none;
}
p {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    font-size: 25px;
}
body {
	background-color: #141414;
	font-family: 'Bowlby One';
}